<%= content_for :title, "Blackbriar - Edit #{@admin.name}" %>

<div class="row">
  <div class="small-12 columns">
    <h1 class="underline">Edit Admin</h1>

    <%= form_for @admin do |f| %>
      <div>
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>

      <div>
        <%= f.label :email %>
        <%= f.email_field :email %>
      </div>

      <p class="italic">To keep password the same, enter the current password below.  To change it, enter the new password below.</p>

      <div>
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>

      <div>
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %>
      </div>

      <%= f.submit 'Update Admin', class: 'button' %>
    <% end %>
  </div>
</div>
