<%= content_for :title, "Blackbriar - #{@user.name}" %>

<div class="row">
  <div class="small-12 medium-4 columns">
    <%= image_tag @user.profile_picture.url %>
  </div>
  <div class="small-12 medium-8 columns user-info">
    <h1 class="underline"><%= @user.name %></h1>
    <p><%= @user.email %></p>
    <p>801-655-8956</p>
    <h2 class="underline">Sales</h2>
    <p>Year: <%= @user.sales_year %></p>
    <p>Month: <%= @user.sales_month %></p>
  </div>
  <div class="small-12 medium-6 columns">

    <% if @user.customers.count > 0 %>

      <h2 class="underline">Packages</h2>
      <h4>Basic</h4>
      <p><%= @user.basic_stat %>&#37;</p>
      <h4>Basic Image</h4>
      <p><%= @user.basic_image_stat %>&#37;</p>
      <h4>Go Green</h4>
      <p><%= @user.go_green_stat %>&#37;</p>
      <h4>Basic Automation</h4>
      <p><%= @user.basic_automation_stat %>&#37;</p>
      <h4>Automation Plus</h4>
      <p><%= @user.automation_plus_stat %>&#37;</p>
      <h4>Fort Knox</h4>
      <p><%= @user.fort_knox_stat %>&#37;</p>

    </div>
    <div class="small-12 medium-6 columns">

      <h2 class="underline">Statistics</h2>
      <h4>EFT</h4>
      <p><%= @user.eft_stat %>&#37;</p>
      <h4>60 Month</h4>
      <p><%= @user.sixty_month_stat %>&#37;</p>
      <h4>Activation</h4>
      <p><%= @user.activation_stat %>&#37;</p>
      <h4>Takeover</h4>
      <p><%= @user.takeover_stat %>&#37;</p>
      <h4>Average MMR</h4>
      <p><%= @user.mmr_stat %></p>
      <h4>Average Credit</h4>
      <p><%= @user.credit_score_stat %></p>

    <% end %>
    <% if current_admin %>
      <%= link_to 'Delete User', user_path(@user.id), method: :delete, data: {confirm: 'Are you sure?'}, class: 'button tiny alert'  %>
      <%= link_to 'Edit User', edit_user_path(@user.id), class: 'button tiny' %>
    <% end %>
  </div>
</div>
