<h1>Edit Customer</h1>

<%= form_tag @customer do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :install_date %>
    <%= f.date_field :install_date %>
  </div>

  <div>
    <%= f.label :mmr %>
    <%= f.number_field :mmr %>
  </div>

  <div>
    <%= f.label :sixty_month %>
    <%= f.check_box :sixty_month %>
  </div>

  <div>
    <%= f.label :eft %>
    <%= f.check_box :eft %>
  </div>

  <div>
    <%= f.label :activation %>
    <%= f.check_box :activation %>
  </div>

  <div>
    <%= f.label :user_id %>
    <%= f.number_field :user_id %>
  </div>

  <%= form_for @customer do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :install_date %>
    <%= f.date_field :install_date %>
  </div>

  <div>
    <%= f.label :mmr %>
    <%= f.number_field :mmr %>
  </div>

  <div>
    <%= f.label :sixty_month %>
    <%= f.check_box :sixty_month %>
  </div>

  <div>
    <%= f.label :eft %>
    <%= f.check_box :eft %>
  </div>

  <div>
    <%= f.label :activation %>
    <%= f.check_box :activation %>
  </div>

  <div>
    <%= label_tag :users_name %>
    <%= select_tag :users_name, options_for_select(list_users.collect { |u| [u.name] }) %>
  </div>

  <%= f.submit 'Update Customer' %>
<% end %>
