<h1><%= @customer.name %></h1>

<p>Customer MMR: </p>
<%= @customer.mmr %>

<p>Customer Installed On: </p>
<%= @customer.date_installed %>

<p>Customer 60 Month: </p>
<%= @customer.sixty_month %>

<p>Customer EFT: </p>
<%= @customer.eft %>

<p>Customer Activation: </p>
<%= @customer.activation %>

<p>Customer User ID: </p>
<%= @customer.user_id %>

<br>

<% if current_admin %>
  <%= link_to 'Delete Customer', customer_path(@customer.id), method: :delete, data: {confirm: "Are you sure?"}  %>
  <%= link_to 'Edit Customer', edit_customer_path(@customer.id) %>
<% end %>
