<h1><%= @customer.name %></h1>

<h4>Customer Address: </h4>
<p><%= @customer.address %> <%= @customer.city %>, <%= @customer.state %> <%= @customer.zip %></p>

<h4>Customer Phone: </h4>
<p><%= @customer.phone %></p>

<h4>Customer Credit Grade: </h4>
<p><%= @customer.credit_grade %></p>

<h4>Customer Tech: </h4>
<p><%= @customer.tech_name %></p>

<h4>Customer Package: </h4>
<p><%= @customer.package %></p>

<h4>Customer MMR: </h4>
<p><%= @customer.mmr %></p>

<h4>Customer Sold On: </h4>
<p><%= @customer.date_sold %></p>

<h4>Customer Installed On: </h4>
<p><%= @customer.date_installed %></p>

<h4>Customer 60 Month: </h4>
<p><%= @customer.sixty_month %></p>

<h4>Customer EFT: </h4>
<p><%= @customer.eft %></p>

<h4>Customer Activation: </h4>
<p><%= @customer.activation %></p>

<h4>Customer Takeover: </h4>
<p><%= @customer.takeover %></p>

<h4>Customer Sold By: </h4>
<p><%= User.find(@customer.user_id).name %></p>

<% if current_admin %>
  <%= link_to 'Delete Customer', customer_path(@customer.id), method: :delete, data: {confirm: 'Are you sure?'}  %>
  <%= link_to 'Edit Customer', edit_customer_path(@customer.id) %>
<% end %>
