<div class="row">
  <div class="small-12 columns">
    <h1 class="underline">Sales Statistics</h1>
  </div>
  <div class="small-12 large-6 columns">
    <h2 class="underline"><%= current_user.name %></h2>
    <% if current_user.customers.count > 0 %>
      <h4>EFT</h4>
      <p><%= current_user.eft_stat %>&#37;</p>
      <h4>60 Month</h4>
      <p><%= current_user.sixty_month_stat %>&#37;</p>
      <h4>Activation</h4>
      <p><%= current_user.activation_stat %>&#37;</p>
      <h4>Takeover</h4>
      <p><%= current_user.takeover_stat %>&#37;</p>
      <h4>Average MMR</h4>
      <p><%= current_user.mmr_stat %></p>
      <h4>Basic Package</h4>
      <p><%= current_user.basic_stat %>&#37;</p>
      <h4>Basic Image Package</h4>
      <p><%= current_user.basic_image_stat %>&#37;</p>
      <h4>Go Green Package</h4>
      <p><%= current_user.go_green_stat %>&#37;</p>
      <h4>Basic Automation Package</h4>
      <p><%= current_user.basic_automation_stat %>&#37;</p>
      <h4>Automation Plus Package</h4>
      <p><%= current_user.automation_plus_stat %>&#37;</p>
      <h4>Fort Knox Package</h4>
      <p><%= current_user.fort_knox_stat %>&#37;</p>
      <h4>Average Credit</h4>
      <p><%= current_user.credit_score_stat %></p>
      <h4>Attrition</h4>
      <p><%= current_user.attrition %></p>
      <h4>Sales This Year</h4>
      <p><%= current_user.sales_year %></p>
      <h4>Sales This Month</h4>
      <p><%= current_user.sales_month %></p>
    <% end %>
  </div>
  <div class="small-12 large-6 columns">
    <% if Customer.count > 0 %>
      <h2 class="underline">Blackbriar</h2>
      <h4>EFT</h4>
      <p><%= Customer.where(eft: true).count * 100 / Customer.count %>&#37;</p>
      <h4>60 Month</h4>
      <p><%= Customer.where(sixty_month: true).count * 100 / Customer.count %>&#37;</p>
      <h4>Activation</h4>
      <p><%= Customer.where(activation: true).count * 100 / Customer.count %>&#37;</p>
      <h4>Takeover</h4>
      <p><%= Customer.where(takeover: true).count * 100 / Customer.count %>&#37;</p>
      <h4>Average MMR</h4>
      <p><%= Customer.average(:mmr).round(2) %></p>
      <h4>Basic Package</h4>
      <p><%= Customer.where(package: 'Basic').count * 100 / Customer.count %>&#37;</p>
      <h4>Basic Image Package</h4>
      <p><%= Customer.where(package: 'Basic Image').count * 100 / Customer.count %>&#37;</p>
      <h4>Go Green Package</h4>
      <p><%= Customer.where(package: 'Go Green').count * 100 / Customer.count %>&#37;</p>
      <h4>Basic Automation Package</h4>
      <p><%= Customer.where(package: 'Basic Automation').count * 100 / Customer.count %>&#37;</p>
      <h4>Automation Plus Package</h4>
      <p><%= Customer.where(package: 'Automation Plus').count * 100 / Customer.count %>&#37;</p>
      <h4>Fort Knox Package</h4>
      <p><%= Customer.where(package: 'Fort Knox').count * 100 / Customer.count %>&#37;</p>
      <h4>Average Credit</h4>
      <p><%= Customer.average(:credit_score).round(2) %></p>
      <h4>Attrition</h4>
      <p><%= Customer.where(canceled: true).count * 100 / Customer.count %>&#37;</p>
      <h4>Sales This Year</h4>
      <p><%= Customer.where('extract(year from date_installed) = ?', 2014).count %></p>
      <h4>Sales This Month</h4>
      <p><%= Customer.where('extract(month from date_installed) = ?', 12).count %></p>
    <% end %>
  </div>
</div>
