<% if !current_user && !current_admin %> <!-- if not logged in -->

  <div class="row">
    <div class="small-12 columns">
      <h1>Log In</h1>
      <%= form_tag log_in_path do %>
        <div>
          <%= label_tag :email %>
          <%= email_field_tag :email %>
        </div>
        <div>
          <%= label_tag :password %>
          <%= password_field_tag :password %>
        </div>
        <%= submit_tag 'Log In', class: 'button' %>
      <% end %>
    </div>
  </div>

<% elsif current_user %> <!-- if user logged in -->

  <div class="row">
    <div class="small-12 large-6 columns">
      <h2><%= current_user.name %></h2>
      <% if current_user.customers.count > 0 %>
        <h4>EFT</h4>
        <p><%= current_user.customers.where(eft: true).count * 100 / current_user.customers.count %>&#37;</p>
        <h4>60 Month</h4>
        <p><%= current_user.customers.where(sixty_month: true).count * 100 / current_user.customers.count %>&#37;</p>
        <h4>Activation</h4>
        <p><%= current_user.customers.where(activation: true).count * 100 / current_user.customers.count %>&#37;</p>
        <h4>Takeover</h4>
        <p><%= current_user.customers.where(takeover: true).count * 100 / current_user.customers.count %>&#37;</p>
        <h4>Average MMR</h4>
        <p><%= current_user.customers.average(:mmr).round(2) %></p>
      <% end %>
    </div>
    <div class="small-12 large-6 columns">
      <h2>Office</h2>
      <h4>EFT</h4>
      <p><%= Customer.where(eft: true).count * 100 / Customer.count %>&#37;</p>
      <h4>60 Month</h4>
      <p><%= Customer.where(sixty_month: true).count * 100 / Customer.count %>&#37;</p>
      <h4>Activation</h4>
      <p><%= Customer.where(activation: true).count * 100 / Customer.count %>&#37;</p>
      <h4>Takeover</h4>
      <p><%= Customer.where(takeover: true).count * 100 / Customer.count %>&#37;</p>
      <h4>Average MMR</h4>
      <p><%= Customer.average(:mmr).round(2) %></p>
    </div>
  </div>

<% else %>  <!-- if admin logged in -->

  <div class="row">
    <div class="small-12 columns">
      <h2>Office Stats</h2>
      <h4>EFT</h4>
      <p><%= Customer.where(eft: true).count * 100 / Customer.count %>&#37;</p>
      <h4>60 Month</h4>
      <p><%= Customer.where(sixty_month: true).count * 100 / Customer.count %>&#37;</p>
      <h4>Activation</h4>
      <p><%= Customer.where(activation: true).count * 100 / Customer.count %>&#37;</p>
      <h4>Takeover</h4>
      <p><%= Customer.where(takeover: true).count * 100 / Customer.count %>&#37;</p>
      <h4>Average MMR</h4>
      <p><%= Customer.average(:mmr).round(2) %></p>
    </div>
  </div>

<% end %>
