<%= content_for :title, 'Blackbriar - New Resource' %>

<div class="row">
  <div class="small-12 columns">
    <h1 class="underline">Create Resource</h1>
    <%= form_for @resource do |f| %>
    <div>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>

    <div>
      <%= f.label :document %>
      <%= f.file_field :document %>
    </div>

    <%= f.submit 'Create Resource', class: 'button' %>
    <% end %>
  </div>
</div>
