<!DOCTYPE html>
<html>
<head>
  <title>BlackbriarBackend</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if current_user %>
    <%= link_to 'Log Out', log_out_path, method: :delete %>
    <%= link_to 'Edit User', edit_user_path(current_user) %>
  <% else %>
    <%= link_to 'Create User', new_user_path %>
    <%= link_to 'Log In', log_in_path %>
  <% end %>

<%= yield %>

</body>
</html>
